doctype xml
rss(version= "2.0")
    channel
        title= page.title
        link= common.siteUrl + page.brand.url
        lastBuildDate= functions.stringToDate(page.lastUpdate)
        description= page.description || common.description
        if custom.filterEnglish
            language en-us
        image= common.siteUrl + "/favicon.ico"
        each tag in (page.tags || common.tags)
            category(domain= common.tagDomain)= tag

        each post in page.posts
            if !custom.filterEnglish || !!post.post
                item
                    title= post.title
                    guid(isPermaLink="true")= common.siteUrl + "/blog/" + functions.blogPostId(post.date, post.title) + "/"
                    if post.description
                        title= post.description
                    if post.content
                        link= common.siteUrl + "/blog/" + functions.blogPostId(post.date, post.title) + "/"
                    else
                        each url, title in post.refs
                            link= url
                    pubDate= functions.stringToDate(post.date)