mixin item(title, link, active)
    li(class="#{active ? 'active' : ''}")
        .triangle
        a(href= link)= title

header.navbar.navbar-default.navbar-custom.navbar-static-top.navbar-inverse(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(type="button",
                                 data-toggle="collapse",
                                 data-target="#main-menu-body")
                span.sr-only menu.toggle
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a.navbar-brand(href=page.brand.url)
                if (page.brand.sub)
                    span.navbar-brand-main= page.brand.main
                    span.navbar-brand-sub= page.brand.sub
                else
                    != page.brand.main

        .collapse.navbar-collapse#main-menu-body
            ul.nav.navbar-nav.navbar-right
                mixin item(menu.home, "/", page.menu == "home", rel="author")
                mixin item(menu.blog, "/blog/", page.menu == "blog")
                mixin item(menu.projects, "/projects/", page.menu == "projects")
                mixin item(menu.github, "https://github.com/Eliah-Lakhin/")