img(src="/images/my-photo5.jpg")
pre: code
    each section, caption in page.profile
        span.section-name= caption
        != '\n'
        each entry in section
            != '  '
            if (entry.key)
                span.entry-key= entry.key + ': '
            if (entry.link)
                a(href= entry.link,
                  target= "_blank",
                  rel= entry.rel,
                  download= entry.downloadable)= entry.value
            else
                != entry.value
            != '\n'
        != '\n'
